# Social Media Links
VITE_GITHUB_URL=
VITE_LINKEDIN_URL=
VITE_TWITTER_URL=
VITE_EMAIL=

# Project Links
VITE_FRESCO_PROJECT_URL=
VITE_SKILLSELLERS_PROJECT_URL=
VITE_GMZ_MOTORS_PROJECT_URL=
VITE_MM_ADVOCATES_PROJECT_URL=
VITE_PORTFOLIO_PROJECT_URL=
VITE_PORTFOLIO_GENERATOR_URL=
